# Виртуальные окружения
venv/
**/venv/
env/
**/env/
.venv/
**/.venv/

# Файлы Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Статические файлы Django
**/staticfiles/

# Django stuff:
*.log
local_settings.py

# Настройки IDE
.idea/
.vscode/

# macOS системные файлы
.DS_Store
**/.DS_Store

# Obsidian (если необходимо)
**/.obsidian

.senv/
**/.senv/
senv/
**/senv/