<!-- events/templates/events/base.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Система управления мероприятиями{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'events/css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'events:home' %}">Главная</a> |
        <a href="{% url 'events:services' %}">Услуги</a> |
        <a href="{% url 'events:team' %}">Команда</a> |
        <a href="{% url 'events:gallery' %}">Галерея</a> |
        <a href="{% url 'events:contact_us' %}">Свяжитесь с нами</a>
    </nav>
    <div class="content">
        {% block content %}
        <!-- Основной контент будет вставлен здесь -->
        {% endblock %}
    </div>
</body>
</html>