<!-- events/templates/events/base.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Система управления мероприятиями{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'events/css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'events:home' %}">Главная</a> |
        <a href="{% url 'events:event_list' %}">Мероприятия</a> |
        <a href="{% url 'events:services' %}">Услуги</a> |
        <a href="{% url 'events:team' %}">Команда</a> |
        <a href="{% url 'events:gallery' %}">Галерея</a> |
        <a href="{% url 'events:contact_us' %}">Свяжитесь с нами</a> |
        <a href="{% url 'events:about' %}">О нас</a>
        {% if user.is_authenticated %}
            Привет, {{ user.username }}!
            <a href="{% url 'events:logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'events:login' %}">Войти</a>
            <a href="{% url 'events:signup' %}">Регистрация</a>
        {% endif %}
    </nav>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="content">
        {% block content %}
        <!-- Наполнение здесь вставляется из шаблонов страниц -->
        {% endblock %}
    </div>
</body>
</html>