<!-- events/templates/events/event_detail.html -->

{% extends 'events/base.html' %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
    <h1>{{ event.title }}</h1>
    <p><strong>Дата и время:</strong> {{ event.date }}</p>
    <p><strong>Место проведения:</strong> {{ event.location }}</p>
    <p><strong>Категория:</strong> {{ event.category }}</p>
    <p>{{ event.description }}</p>

    <h2>Отзывы</h2>
    {% if comments %}
        {% for comment in comments %}
            <div class="comment">
                <p><strong>{{ comment.user }}</strong> - <em>{{ comment.created_at }}</em></p>
                <p>{{ comment.comment }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет отзывов о данном мероприятии.</p>
    {% endif %}
{% endblock %}